/* Navbar config */
#logo{
    padding-left: 1em;
    width: 20%;
}

.navbar-default{
    height: 60px;
    background-color: #000000;
    background-image: none;
}

/* Essential body padding to prevent overlapping with the fixed-top navbar */
body{
    padding-top: 80px;
    font-size: 16px;
    background-color: #000000;
    color: #000000;
}

a:hover{
    color: #000000;
}


